/* CSS style for interactive table */
#pageTitle {
    font: 100 30px Helvetica, sans-serif;
}

/* Search bar */
#searchBar {
    width: 60%;
    font-size: 16px; /* Set font size */
    padding: 12px 12px 12px 20px; /* Add some padding top-right-bottom-left */
    border: none;
    border: 2px solid #909090; /* Add a gray border */
    border-radius: 12px;
    margin-bottom: 12px; /* Add some space below the input box */
}

/* Data table */
#dataTable {
    border-collapse: collapse;
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a gray border */
    font-size: 16px; /* Set font size */
    font-family: Helvetica, sans-serif;
}

#dataTable th, #dataTable td {
    text-align: left;
    padding: 12px;
}

#dataTable tr {
    border-bottom: 1px solid #ddd;
}

#dataTable tr.header {
    background-color: #B19CD9; /* Color the table header */
}

#dataTable tr:not(:first-child):hover {
    background-color: whitesmoke; /* Highlight rows when hovering */
}

/* Filter menu */
#filterMenu {
    overflow: hidden;
    width: 762px;
    height: 38px;
    background-color: white;
    margin-bottom: 12px; /* Add some space below the filter menu */
}

.dropdown {
    /* Positions the dropdown button itself */
    float: left;
    overflow: hidden;
    border-top: 2px solid #808080;
    border-bottom: 2px solid #808080;
    border-right: 2px solid #808080;
}

.dropdown:first-child {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    border-left: 2px solid #808080;
}

.dropdown:last-child {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-right: 2px solid #808080;
}

.menubutton {
    width: 150px;
    background-color: inherit;
    border: none;
    outline: none;
    color: black;
    font: 100 16px Helvetia, sans-serif;
    padding: 8px;
    margin: 0; /* Important for vertical align on mobile phones */
}

.dropbutton:hover {
    background-color: whitesmoke; /* Color dropdown button on hover */
}

.dropbutton:focus {
    color: mediumpurple; /* Color dropdown font on focus */
}

.dropdown-content {
    /* Positions the dropdown button content */
    display: none; /* Hidden by default */
    position: absolute;
    overflow: visible;
    background-color: white;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Add a shadow top-right-bottom-left */
    z-index: 1;
}

.dropdown-content a {
    /* Styles dropdown options */
    color: black;
    font: 100 16px Helvetia, sans-serif;
    padding: 8px 12px 8px 12px; /* Add padding top-right-bottom-left */
    text-decoration: none;
    text-align: left;
    border-left: 2px solid #808080;
    border-right: 2px solid #808080;
    border-bottom: 2px solid #808080;
    display: block;
}

.dropdown-content a:first-child {
    border-top: 2px solid #808080;
}

.dropdown-content a:hover {
    /* Change color of dropdown options on hover */
    background-color: rgba(147, 112, 219, 0.2);
}

.show {
    /* Shows the dropdown menu using Javascript */
    display: block;
}

/* Filter tags display */
#tagCollection {
    min-width: 60%;
    border: none;
    margin-bottom: 12px; /* Add some space below the tags and above the table */
}

.tagbutton {
    background-color: white;
    border: 1px solid #808080;
    border-radius: 5px;
    outline: none;
    color: black;
    font: 100 14px Helvetia, sans-serif;
    padding: 4px 8px 4px 8px;
    display: inline-block;
    margin: 4px;
}
